body {
    min-height: 100vh;
    display: flex;
    background-color: black;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    font-family: Calibri;
}

.icon {
    width: 845px;
    height: 515px;
    position: fixed;
    background: url("img/logo_alpha.png");
    filter: blur(8px);
    animation: glow infinite linear 6s;
}
@keyframes glow {
    0% { background-color: white; }
    25% { background-color: #666; }
    50% { background-color: #333; }
    75% { background-color: #666; }
    100% { background-color: white; }
}

.play-en, .play-en a {
    background: url("img/en/fight.png");
    cursor: pointer;
    width: 330px;
    height: 80px;
    position: fixed;
    animation: playglow-en infinite linear 3s;
}
@keyframes playglow-en {
    0% { background: url("img/en/fight.png"); }
    50% { background: url("img/en/fight_hover.png"); }
    100% { background: url ("img/en/fight.png"); }
}
.play-ru, .play-ru a {
    background: url("img/ru/fight.png");
    cursor: pointer;
    width: 330px;
    height: 80px;
    position: fixed;
    animation: playglow-ru infinite linear 3s;
}
@keyframes playglow-ru {
    0% { background: url("img/ru/fight.png"); }
    50% { background: url("img/ru/fight_hover.png"); }
    100% { background: url ("img/ru/fight.png"); }
}

.links {
    min-width: 100vw;
    min-height: 35px;
    padding-top: 15px;
    text-align: center;
    background-color: #222;
    left: 0;
    bottom: 0;
    position: fixed;
}
.links-language {
    bottom: 15px;
    right: 15px;
    position: fixed;
}
a, nav { color: white; text-decoration: none; }
a:hover { color: white; text-shadow: white 1px 0 4px;}