body {
    min-height: 100vh;
    display: flex;
    background: url("img/background.jpg") top left repeat black;
    overflow: hidden;
    cursor: default;
    align-items: center;
    justify-content: center;
    font-family: Calibri;
}

.icon {
    width: 765px;
    height: 485px;
    position: fixed;
    background: url("img/logo.png");
    filter: blur(2px);
}
/* @keyframes glow {
    0% { background-color: white; }
    25% { background-color: #666; }
    50% { background-color: #333; }
    75% { background-color: #666; }
    100% { background-color: white; }
} */

.play-en, .play-en a {
    background: url("img/en/fight.png");
    cursor: pointer;
    width: 330px;
    height: 80px;
    position: fixed;
    animation: playglow-en infinite linear 2s;
}
@keyframes playglow-en {
    0% { background: url("img/en/fight.png"); }
    50% { background: url("img/en/fight_hover.png"); }
    100% { background: url ("img/en/fight.png"); }
}
.play-ru, .play-ru a {
    background: url("img/ru/fight.png");
    cursor: pointer;
    width: 330px;
    height: 80px;
    position: fixed;
    animation: playglow-ru infinite linear 2s;
}
@keyframes playglow-ru {
    0% { background: url("img/ru/fight.png"); }
    50% { background: url("img/ru/fight_hover.png"); }
    100% { background: url ("img/ru/fight.png"); }
}

.closed-icon {
    background: url("img/tech_support.png") center center no-repeat;
    width: 128px;
    height: 128px;
    position: fixed;
}

.links {
    width: 100%;
    min-height: 25px;
    padding-top: 20px;
    text-align: center;
    background-color: #222;
    left: 0;
    top: 0;
    position: fixed;
    box-shadow: 6px 6px 6px black;
}
.links-language {
    top: 15px;
    right: 15px;
    position: fixed;
}

.socials {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 15px;
    min-height: 25px;
    text-align: center;
    background-color: #222;
    border: 2px solid #555;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    position: fixed;
}

a, nav { color: white; text-decoration: none; }
a:hover { color: white; text-shadow: white 1px 0 4px;}
